body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  margin: 0;
}

.login-box {
  width: 350px;
  margin: 120px auto;
  background: #020617;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.login-box input, button {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.nav {
  background: #020617;
  padding: 15px;
}

.nav a {
  color: #38bdf8;
  margin-right: 15px;
  text-decoration: none;
}

.container {
  padding: 40px;
}
